process {

    withName: 'SORT_BY_LENGTH' {
        ext.prefix = { "${meta.id}_sorted" }
        publishDir = [
            path: { "${params.outdir}/seqkit/${meta.id}/sorted" },
            mode: params.publish_dir_mode,
            enabled: params.save_sorted_seqs
        ]
    }

    withName: 'FILTER_BY_LENGTH' {
        ext.prefix = { "${meta.id}_filtered" }
        publishDir = [
            path: { "${params.outdir}/seqkit/${meta.id}/filtered" },
            mode: params.publish_dir_mode,
            enabled: params.save_filtered_seqs
        ]
    }

    withName: 'TIDK_EXPLORE' {
        ext.args = "--minimum 5 --maximum 12"
        publishDir = [
            path: { "${params.outdir}/tidk/${meta.id}/explore" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'TIDK_PLOT_APRIORI' {
        publishDir = [
            path: { "${params.outdir}/tidk/${meta.id}/plot/apriori" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'TIDK_PLOT_APOSTERIORI' {
        publishDir = [
            path: { "${params.outdir}/tidk/${meta.id}/plot/aposteriori" },
            mode: params.publish_dir_mode
        ]
    }
}