process {

    //withName: 'AGAT_CONVERTSPGXF2GXF' {
    //    publishDir = [
    //        path: { "${params.outdir}/agat" },
    //        mode: params.publish_dir_mode,
    //        enabled: params.save_validated_annotation
    //    ]
    //}

    withName: 'GFFREAD_VALIDATE' {
        ext.args = '-E'
        publishDir = [
            path: { "${params.outdir}/gff_validate/${meta.id}" },
            mode: params.publish_dir_mode,
            enabled: params.save_validated_annotation
        ]
    }

    withName: 'AGAT_SPKEEPLONGESTISOFORM' {
        publishDir = [
            path: { "${params.outdir}/agat/${meta.id}/longest_isoform" },
            mode: params.publish_dir_mode,
            enabled: params.save_longest_isoform
        ]
    }

    withName: 'AGAT_SPSTATISTICS' {
        publishDir = [
            path: { "${params.outdir}/agat/${meta.id}/stats" },
            mode: params.publish_dir_mode,
            pattern: '*.txt'
        ]
    }

    withName: 'GENE_OVERLAPS' {
        publishDir = [
            path: { "${params.outdir}/gene_overlaps" },
            mode: params.publish_dir_mode,
            pattern: '*.counts.tsv'
        ]
    }

    withName: 'QUAST' {
        publishDir = [
            path: { "${params.outdir}/quast/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.endsWith('.quast.tsv') ? null : filename } // Only publish folders with reports (apparently .quast.tsv contain irrelevant information)
        ]
    }

    withName: 'GFFREAD' {
        ext.args = '-y -S'
        publishDir = [
            path: { "${params.outdir}/gffread" },
            mode: params.publish_dir_mode,
            enabled: params.save_extracted_seqs
        ]
    }

    withName: 'FASTAVALIDATOR' {
        publishDir = [
            path: { "${params.outdir}/fastavalidator" },
            mode: params.publish_dir_mode,
            enable: false
        ]
    }

    withName: 'ORTHOFINDER' {
        publishDir = [
            path: { "${params.outdir}/orthofinder" },
            mode: params.publish_dir_mode,
            enabled: params.save_orthofinder_results
        ]
    }

    withName: 'ORTHOLOGOUS_CHROMOSOMES' {
        publishDir = [
            path: { "${params.outdir}/orthologous_chromosomes" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'BUSCO_BUSCO' {
        ext.prefix = { "${meta.id}-${lineage}-${mode}" } // It's necessary to distinguish between genome and protein mode for the tree summary
        publishDir = [
            path: { "${params.outdir}/busco/${meta.id}/stats" },
            mode: params.publish_dir_mode,
            pattern: '*.txt'
        ]
    }
    
    withName: 'GAWK' {
        ext.args2 = { "'BEGIN{FS=OFS=\"\\t\"} NR==1{print} NR>1{\$1=\"${meta.id}\"; print}'" }
        ext.prefix = { "${input[0].getBaseName()}_modified" } // 0 here because the arity: '0..*' makes the input a list
        ext.suffix = 'txt'
        publishDir = [
            path: { "${params.outdir}/gwak/fixed_busco_table" },
            mode: params.publish_dir_mode,
            enable: false
        ]
    }

    withName: 'GENOME_ANNOTATION_BUSCO_IDEOGRAM' {
        publishDir = [
            path: { "${params.outdir}/busco/${meta.id}/ideogram" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'GENOME_ONLY_BUSCO_IDEOGRAM' {
        publishDir = [
            path: { "${params.outdir}/busco/${meta.id}/ideogram" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'FCS_FCSADAPTOR' {
            publishDir = [
            path: { "${params.outdir}/decontamination/fcs-adaptor" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'FCS_CLEANADAPTOR' {
        publishDir = [
            path: { "${params.outdir}/decontamination/fcs-adaptor" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'FCSGX_RUNGX' {
        publishDir = [
            path: { "${params.outdir}/decontamination/fcs-gx" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'FCSGX_FETCHDB' {
        publishDir = [
            path: { "${params.outdir}/decontamination/database" },
            mode: params.publish_dir_mode,
            enable: false
        ]
    }
    
    withName: 'FCSGX_CLEANGENOME' {
            publishDir = [
            path: { "${params.outdir}/decontamination/cleaned_genome" },
            mode: params.publish_dir_mode,
            enable: false // This should be optional
        ]
    }

    withName: 'TIARA_RAW' {
        publishDir = [
            path: { "${params.outdir}/decontamination/tiara/raw" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'TIARA_CLEANED' {
        publishDir = [
            path: { "${params.outdir}/decontamination/tiara/cleaned" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}