process {

    withName: 'ORTHOFINDER' {
        memory = '30.GB'
        cpus = 4
    }

    withName: 'QUAST' {
        memory = '30.GB'
        cpus = 4
    }

}

params {

    // Defaults only, expecting to be overwritten
    max_memory                 = '20.GB'
    max_cpus                   = 4
    max_time                   = '240.h'

}
