/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'NCBIGENOMEDOWNLOAD' {
        ext.args = {
            [
                meta.ncbi == 'refseq'  ? "--section refseq --format fasta,gff -N" : '',
                meta.ncbi == 'genbank' ? "--section genbank --format fasta -N" : ''
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/ncbigenomedownload/${meta.id}" },
            mode: params.publish_dir_mode,
            enabled: params.save_assembly
        ]
    }

    withName: 'GFFREAD' {
        ext.args = '-y -S'
        publishDir = [
            path: { "${params.outdir}/gffread" },
            mode: params.publish_dir_mode,
            enabled: params.save_extracted_seqs
        ]
    }

    withName: 'PIGZ_UNCOMPRESS' {
        publishDir = [
            path: { "${params.outdir}/pigz" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'AGAT_SPSTATISTICS' {
        publishDir = [
            path: { "${params.outdir}/agat/${meta.id}/stats" },
            mode: params.publish_dir_mode,
            pattern: '*.txt'
        ]
    }

    withName: 'GFFREAD_VALIDATE' {
        ext.args = '-E'
        publishDir = [
            path: { "${params.outdir}/validated_gff/gffread/${meta.id}" },
            mode: params.publish_dir_mode,
            enabled: params.save_validated_annotation
        ]
    }

    withName: 'AGAT_VALIDATE' {
        publishDir = [
            path: { "${params.outdir}/validated_gff/agat/${meta.id}" },
            mode: params.publish_dir_mode,
            enabled: params.save_validated_annotation
        ]
    }

    withName: 'ORTHOFINDERV2' {
        publishDir = [
            path: { "${params.outdir}/orthofinder/v2" },
            mode: params.publish_dir_mode,
            enabled: params.save_orthofinder_results
        ]
    }

    withName: 'ORTHOFINDER_V3' {
        publishDir = [
            path: { "${params.outdir}/orthofinder/v3" },
            mode: params.publish_dir_mode,
            enabled: params.save_orthofinder_results
        ]
    }

    withName: 'BUSCO_GENOME' {
        ext.prefix = { "${meta.id}-${lineage}-${mode}" } // It's necessary to distinguish between genome and protein mode for the tree summary
        publishDir = [
            path: { "${params.outdir}/busco/genome/${meta.id}/stats/" },
            mode: params.publish_dir_mode,
            pattern: '*.txt'
        ]
    }

    withName: 'BUSCO_PROTEIN' {
        ext.prefix = { "${meta.id}-${lineage}-${mode}" } // It's necessary to distinguish between genome and protein mode for the tree summary
        publishDir = [
            path: { "${params.outdir}/busco/protein/${meta.id}/stats/" },
            mode: params.publish_dir_mode,
            pattern: '*.txt'
        ]
    }

    withName: 'BUSCO_SEQS_GENOME_ANNO' {
        ext.args = { params.min_buscos ? "-x ${params.min_buscos}" : '' }
        publishDir = [
            path: { "${params.outdir}/busco/protein/min_number_buscos" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'BUSCO_SEQS_GENOME' {
        ext.args = { params.min_buscos ? "-x ${params.min_buscos}" : '' }
        publishDir = [
            path: { "${params.outdir}/busco/genome/min_number_buscos" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'BUSCO_TSVTOGFF' {
        publishDir = [
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'IDEOGRAM_GENOMEANNOTATION' {
        publishDir = [
            path: { "${params.outdir}/busco/protein/${meta.id}/ideogram" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'IDEOGRAM_GENOME' {
        publishDir = [
            path: { "${params.outdir}/busco/genome/${meta.id}/ideogram" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'BUSCO_DOWNLOAD' {
        publishDir = [
            path: { "${params.outdir}/busco/db" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'MERQURY_MERQURY' {
        publishDir = [
            path: { "${params.outdir}/merqury/${meta.id}" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: 'MERYL_COUNT' {
        publishDir = [
            path: { "${params.outdir}/meryl/${meta.id}/count" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }
    withName: 'MERYL_UNIONSUM' {
        publishDir = [
            path: { "${params.outdir}/meryl/${meta.id}/unionsum" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'SORT_BY_LENGTH' {
        ext.prefix = { "${meta.id}_sorted" }
        publishDir = [
            path: { "${params.outdir}/seqkit/${meta.id}/sorted" },
            mode: params.publish_dir_mode,
            enabled: params.save_sorted_seqs
        ]
    }

    withName: 'FILTER_BY_LENGTH' {
        ext.prefix = { "${meta.id}_filtered" }
        publishDir = [
            path: { "${params.outdir}/seqkit/${meta.id}/filtered" },
            mode: params.publish_dir_mode,
            enabled: params.save_filtered_seqs
        ]
    }

    withName: 'TIDK_SEARCH_APRIORI' {
        publishDir = [
            path: { "${params.outdir}/tidk/${meta.id}/search/apriori/${params.repeat}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'TIDK_SEARCH_APOSTERIORI' {
        publishDir = [
            path: { "${params.outdir}/tidk/${meta.id}/search/aposteriori" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'TIDK_EXPLORE' {
        ext.args = "--minimum 5 --maximum 12"
        publishDir = [
            path: { "${params.outdir}/tidk/${meta.id}/explore" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'TIDK_PLOT_APRIORI' {
        publishDir = [
            path: { "${params.outdir}/tidk/${meta.id}/plot/apriori/${params.repeat}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'TIDK_PLOT_APOSTERIORI' {
        publishDir = [
            path: { "${params.outdir}/tidk/${meta.id}/plot/aposteriori" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'FCS_FCSADAPTOR' {
            publishDir = [
            path: { "${params.outdir}/decontamination/fcs-adaptor" },
            saveAs: { filename -> filename.endsWith('.fasta') ? null : filename },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'FCSGX_CLEANADAPTOR' {
        publishDir = [
            path: { "${params.outdir}/decontamination/fcs-adaptor" },
            saveAs: { filename -> filename.endsWith('.fasta') ? null : filename },
            mode: params.publish_dir_mode,
            enabled: params.save_cleaned_adaptor
        ]
    }

    withName: 'FCSGX_RUNGX' {
        publishDir = [
            path: { "${params.outdir}/decontamination/fcs-gx" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'FCSGX_FETCHDB' {
        publishDir = [
            path: { "${params.outdir}/decontamination/database" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'FCSGX_CLEANGENOME' {
            publishDir = [
            path: { "${params.outdir}/decontamination/cleaned_genome" },
            mode: params.publish_dir_mode,
            enabled: params.save_cleaned_genome
        ]
    }

    withName: 'TABLE_FCSGX' {
        publishDir = [
            path: { "${params.outdir}/fcsgx" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'TABLE_TE' {
        publishDir = [
            path: { "${params.outdir}/te" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'TIARA_RAW' {
        publishDir = [
            path: { "${params.outdir}/decontamination/tiara/raw" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'TIARA_CLEANED' {
        publishDir = [
            path: { "${params.outdir}/decontamination/tiara/cleaned" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'QUAST' {
        ext.prefix = { "${meta.id}.quast" }
        publishDir = [
            path: { "${params.outdir}/quast/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.endsWith('.quast.tsv') ? null : filename } // Only publish folders with reports (apparently .quast.tsv contain irrelevant information)
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'AGAT_SPKEEPLONGESTISOFORM' {
        publishDir = [
            path: { "${params.outdir}/agat/${meta.id}/longest_isoform" },
            mode: params.publish_dir_mode,
            enabled: params.save_longest_isoform
        ]
    }

    withName: 'GENEOVERLAPS' {
        publishDir = [
            path: { "${params.outdir}/gene_overlaps" },
            mode: params.publish_dir_mode,
            pattern: '*.counts.tsv'
        ]
    }

    withName: 'TREESUMMARY' {
        ext.args   = {
            [
                params.tree_scale ? "--tree_scale ${params.tree_scale}" : '',
                params.tree_margin ? "--tree_margin ${params.tree_margin}" : '',
                params.tree_style ? "--tree_style ${params.tree_style}" : '',
                params.circular_rings ? "--circular_rings ${params.circular_rings}" : '',
                params.quality_preset ? "--quality_preset ${params.quality_preset}" : '',
                params.quality_thresholds ? "--quality_thresholds '${params.quality_thresholds}'" : '',
                params.show_ring_values ? "--show_ring_values" : '',
                meta.mode == 'genome'  ? "--type genome_only --skip_stats gene_plot,${params.skip_plots_genome_only}" : '',
                meta.mode == 'genome_anno'  ? "--type genome_anno --skip_stats ${params.skip_plots_genome_anno}" : ''
                //"--type genome_anno"
            ].join(' ').trim()
        }
        publishDir = [
            path: {
            [
                meta.mode == 'genome'  ? "${params.outdir}/tree/genome_only" : '',
                meta.mode == 'genome_anno'  ? "${params.outdir}/tree/genome_anno"  : ''
            ].join(' ').trim()
            },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'ORTHOSEQCOUNT' {
        publishDir = [
            path: { "${params.outdir}/ortho_seq_count" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'GAWK' {
        ext.args2 = { "'BEGIN{FS=OFS=\"\\t\"} NR==1{print} NR>1{\$1=\"${meta.id}\"; print}'" }
        ext.prefix = { "${input[0].getBaseName()}_modified" } // 0 here because the arity: '0..*' makes the input a list
        ext.suffix = 'txt'
        publishDir = [
            path: { "${params.outdir}/gawk/fixed_busco_table" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'HITE' {
        ext.args = {
          [
            '--annotate 1',
            params.is_plant ? '--plant 1' : '--plant 0',
            params.curated_lib ? "--curated_lib ${params.curated_lib}" : ''
          ].join(' ').trim()
        }
        containerOptions = {
          (workflow.containerEngine == 'singularity' || workflow.containerEngine == 'apptainer' ) ?
          "--bind \${TMPDIR:-/tmp}:\${TMPDIR:-/tmp}" : // This avoids filling up TMP in cluster nodes
          "--volume \${TMPDIR:-/tmp}:\${TMPDIR:-/tmp}" // This avoids filling up TMP in cluster nodes
        }
        publishDir = [
            path: { "${params.outdir}/hite/${meta.id}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'CDHIT_CDHITEST' {
        ext.args = { "-d 0 -aS ${params.te_cluster_coverage} -c ${params.te_cluster_identity} -G 0 -g 1 -b 500 -r 1" }
        publishDir = [
            path: { "${params.outdir}/cdhit/est" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'MMSEQS_EASYCLUSTER' {
        ext.args = { "--min-seq-id ${params.te_cluster_identity} -c ${params.te_cluster_coverage} --cov-mode 1" }
        publishDir = [
            path: { "${params.outdir}/mmseqs/easycluster" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'MMSEQS_EASYLINCLUST' {
        ext.args = { "--min-seq-id ${params.te_cluster_identity} -c ${params.te_cluster_coverage} --cov-mode 1" }
        publishDir = [
            path: { "${params.outdir}/mmseqs/easylinclust" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'REPEATMASKER_DOWNLOADDB' {
        publishDir = [
            path: { "${params.outdir}/repeatmasker/db/${meta.id}" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'FAMDBPYEMBL' {
        publishDir = [
            path: { "${params.outdir}/famdb.py/embl" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'REPEATMODELER_BUILDDATABASE' {
        publishDir = [
            path: { "${params.outdir}/repeatmodeler/buildb" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'REPEATMODELER_REPEATMODELER' {
        publishDir = [
            path: { "${params.outdir}/repeatmodeler/repeatmodeler/${meta.id}" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'REPEATMASKER_REPEATMASKER' {
        ext.args = {
            params.repeatmasker_speed == 'default' ? '' : "-${params.repeatmasker_speed}"
        }
        publishDir = [
            path: { "${params.outdir}/repeatmasker/${meta.id}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'REPORT_EXCEL' {
        publishDir = [
            path: { "${params.outdir}/report/excel" },
            mode: params.publish_dir_mode,
            pattern: '*.xlsx'
        ]
    }

    withName: 'REPORT_HTML' {
        publishDir = [
            path: { "${params.outdir}/report/html" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'FIND_CONCATENATE' {
        publishDir = [
            path: { "${params.outdir}/find/concatenate" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

}
