/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/genomeqc -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '4.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input  = params.pipelines_testdata_base_path + 'genomeqc/samplesheet/input_myco_tiny_genomeonly.csv'

    // BUSCO lienage
    busco_lineage              = 'mycoplasmatales_odb10'

    // TE annotation
    te                         = 'repeatmasker'
    RM_download_db             = true
    RM_db                      = ['https://www.dfam.org/releases/Dfam_3.9/families/FamDB/dfam39_full.0.h5.gz']
    run_repeatmodeler          = true


}
