/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/genomeqc -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset of Hymenoptera genomes'

    input = "${projectDir}/assets/input_hymen.csv"

    busco_lineage              = 'hymenoptera_odb10'

    // TE annotation
    te                         = 'repeatmasker'
    RM_download_db             = true
    RM_db                      = ['https://www.dfam.org/releases/Dfam_3.9/families/FamDB/dfam39_full.0.h5.gz','https://www.dfam.org/releases/Dfam_3.9/families/FamDB/dfam39_full.3.h5.gz']
    run_repeatmodeler          = true

    // FCS GX
    gxdb_manifest              = 'https://ftp.ncbi.nlm.nih.gov/genomes/TOOLS/FCS/database/test-only/test-only.manifest'

}

process {
    withName: 'FCSGX_RUNGX' {
        cpus   = 8
        memory = { 8.GB * task.attempt }
        time   = { 2.h  * task.attempt }
    }
}
