/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test
    using GenBank (GCA_) accessions instead of RefSeq (GCF_), to confirm NCBIGENOMEDOWNLOAD
    and the rest of the pipeline handle both accession namespaces correctly (#202).

    Use as follows:
        nextflow run nf-core/genomeqc -profile test_gca,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '4.h'
    ]
}

cleanup = true

params {
    config_profile_name        = 'GCA accession test profile'
    config_profile_description = 'Minimal test dataset using GenBank (GCA_) accessions to check pipeline function'

    // Input data
    input  = "${projectDir}/assets/input_gca.csv"

    // BUSCO lineage
    busco_lineage              = 'mycoplasmatales_odb10'

    save_orthofinder_results   = false

}
