/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

includeConfig "../../subworkflows/local/nextflow.config"
includeConfig "../../subworkflows/nf-core/fasta_explore_search_plot_tidk/nextflow.config"

process {

    withName: 'NCBIGENOMEDOWNLOAD' {
        ext.args = {
            [
                meta.ncbi == 'refseq'  ? "--section refseq --format fasta,gff -N" : '',
                meta.ncbi == 'genbank' ? "--section genbank --format fasta -N" : ''
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/ncbigenomedownload/${meta.id}" },
            mode: params.publish_dir_mode,
            enabled: params.save_assembly
        ]
    }

    withName: 'PIGZ_UNCOMPRESS' {
        publishDir = [
            path: { "${params.outdir}/pigz" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'MERQURY_MERQURY' {
        publishDir = [
            path: { "${params.outdir}/merqury/${meta.id}" },
            mode: params.publish_dir_mode
        ]
    }
    withName: 'MERYL_COUNT' {
        publishDir = [
            path: { "${params.outdir}/meryl/${meta.id}/count" },
            mode: params.publish_dir_mode
        ]
    }
    withName: 'MERYL_UNIONSUM' {
        publishDir = [
            path: { "${params.outdir}/meryl/${meta.id}/unionsum" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'TREE_SUMMARY' {
        ext.args   = {
            [
                params.tree_scale ? "--tree_scale ${params.tree_scale}" : '',
                params.tree_margin ? "--tree_margin ${params.tree_margin}" : '',
                meta.mode == 'genome'  ? "--type genome_only --skip_stats gene_plot,${params.skip_plots_genome_only}" : '',
                meta.mode == 'genome_anno'  ? "--type genome_anno --skip_stats ${params.skip_plots_genome_anno}" : ''
                //"--type genome_anno"
            ].join(' ').trim()
        }
        publishDir = [
            path: {
            [
                meta.mode == 'genome'  ? "${params.outdir}/tree/genome_only" : '',
                meta.mode == 'genome_anno'  ? "${params.outdir}/tree/genome_anno"  : ''
            ].join(' ').trim()
            },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'BUSCO_SEQS.*' {
        ext.args = { params.min_buscos ? "-x ${params.min_buscos}" : '' }
        publishDir = [
            path: { "${params.outdir}/busco/${meta.id}/min_number_buscos" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'HITE' {
        ext.args = '--annotate 1' // What is this?
        publishDir = [
            path: { "${params.outdir}/hite/${meta.id}" },
            mode: params.publish_dir_mode,
            enable: false
        ]
    }

//    withName: 'REPEATMASKER_REPEATMASKER' {
//        ext.args = { params.species ? "-species ${params.species}" : ''}
//        containerOptions = {
//            if (params.famdb_library) {
//                workflow.containerEngine == 'docker' ? // If docker is used, mount the famdb library using --volume
//                "--volume ${params.famdb_library}:/opt/RepeatMasker/Libraries/famdb --env LIBDIR=/opt/RepeatMasker/Libraries" :
//                (workflow.containerEngine == 'singularity' || workflow.containerEngine == 'apptainer' ) ? // If singularity or apptainer is used, mount the famdb library using --bind
//                "--bind ${params.famdb_library}:/opt/RepeatMasker/Libraries/famdb --env LIBDIR=/opt/RepeatMasker/Libraries" : ''
//            } else {
//              ''
//            }
//        }
//        publishDir = [
//            path: { "${params.outdir}/repeatmasker" },
//            mode: params.publish_dir_mode,
//        ]
//    }


    withName: 'CDHIT_CDHITEST' {
        ext.args = '-d 0 -aS 0.8 -c 0.8 -G 0 -g 1 -b 500 -r 1' // Mention paper
        publishDir = [
            path: { "${params.outdir}/cdhit/est" },
            mode: params.publish_dir_mode,
            enable: false
        ]
    }

}
